<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
     <add name ="databaseConnector" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\JackH\source\repos\ContactsApplication\Data\Contacts.mdf;Integrated Security=True"/>
 </connectionStrings>
</configuration>